.doctor-review-list-frame{
		padding-right: 0px !important;
		padding-left: 0px !important;
}

.doctor-review-detail-frame{
		padding-left: 0px !important;
		border-left: 1px solid;
		border-color: darkgray;
}

.theme-darkblue{
	color: rgb(36, 68, 107);
}

.theme-lightblue{
	color: #54BB9F
}

.theme-light{
	color:rgb(154, 154, 154);
}

.theme-medium{
	color: rgb(102, 102, 102);
}

.theme-dark{
	color: rgb(0, 0, 0);
}