.provider-details {
		
	border-bottom: 1px solid;
	border-color: darkgray;
	min-height: 100px;
	max-height: 100px;
	padding-left: 16px;
	line-height: 120%;
}

.provider-details-name{
	font-size: 1.8rem;
}

.provider-details-speciality{
	font-size: 1rem;
}

.provider-details-reviews{
	font-size: 1rem;
}

.provider-details-address{
	font-size: 1rem;
}

.provider-details-address-label{
	font-size: .6rem;
}

.provider-details-address-icon {
	position: absolute;
	left:-50px !important;
	top:25px;
	height:50px !important;
	width:50px !important;
}

.provider-details-address-details {
	padding-left: 0px;
}

.provider-details-image {
	width:80px !important;
	margin-top: 10px;
	margin-right: 10px;
}