.provider-list-item {
		border-left: 0px;
    border-color: darkgray;
    border-radius: 0px !important;
		margin-left: 20px;
		padding:0px !important;
}

.provider-list-item:last-child {
    border-bottom: 0px;
}

.provider-list-item:first-child {
    border-top: 0px;
}

.provider-list-item-arrow-icon {
	height:28px !important;
	width:28px !important;
}

.provider-list-item-image {
	width: 90px;
	margin-top: 8px;
}

.provider-list-item-info {
	padding-left:90px;
}

.provider-list-item :hover, .provider-list-item-image :hover{
	text-decoration: none;
	background-color:  rgb(187, 235, 223);
}
.provider-list-item-selected-provider {
	background-color:  rgb(187, 235, 223);
}

.provider-list-item-rank {
	font-size: .8rem;
	color: white;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 8px;
	padding-right: 8px;
	display:inline-block;
}

.provider-list-item-rank1 {
 background-color:rgb(233, 107, 107);
}

.provider-list-item-rank2{
	background-color:rgb(141, 141, 141);
}

.provider-list-item-rank3{
	background-color:#54BB9F;
}

.provider-list-item-name {
	font-size: 1rem;
	padding-top: 20px;
}

.provider-list-item-speciality {
	font-size: 0.8rem;
	display:inline-block;
}

.provider-list-item-street {
	font-size: .8rem;
}

.provider-list-item-reviews {
	font-size: .8rem;
	padding-bottom: 40px;
}